ul{
    list-style-type: none;
}
.content{
    margin-top: 5%;
    margin-left: 5%;
}
.title{
    border-radius: 10px;
    margin: auto;
    width: 250px;
    height: 60px;
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    -webkit-box-shadow: 17px 8px 56px 16px rgba(13,66,55,0.48);
    -moz-box-shadow: 17px 8px 56px 16px rgba(13,66,55,0.48);
    box-shadow: 17px 8px 56px 16px rgba(13,66,55,0.48);
}
.textCenter{
    text-align: center;
    font-family: 新宋体,serif;
    font-weight: bold;
    color: aliceblue ;
    font-size: 50px;
    padding: 0;
    display: table-cell;
    vertical-align:middle;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
